In [3]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [4]:
import os
import json
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="white", rc={"axes.facecolor": (0, 0, 0, 0)})
%matplotlib inline

In [5]:
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()

In [6]:
BASE_PATH = '../../covid19-opendata-vaccini/dati'

START_DATE = '2021-01-01'
END_DATE = datetime.today().strftime('%Y-%m-%d')

In [7]:
for fn in os.listdir(BASE_PATH):
    if fn.endswith(".csv"):
        print('*'*80)
        print(fn)
        print(pd.read_csv(os.path.join(BASE_PATH, fn)).shape)
        display(pd.read_csv(os.path.join(BASE_PATH, fn)).head(1))

********************************************************************************
anagrafica-vaccini-summary-latest.csv
(9, 8)

,fascia_anagrafica,totale,sesso_maschile,sesso_femminile,prima_dose,seconda_dose,pregressa_infezione,ultimo_aggiornamento
0,12-19,1354766,667102,687664,1117043,220361,17362,2021-07-11

********************************************************************************
somministrazioni-vaccini-latest.csv
(85570, 13)

,data_somministrazione,fornitore,area,fascia_anagrafica,sesso_maschile,sesso_femminile,prima_dose,seconda_dose,pregressa_infezione,codice_NUTS1,codice_NUTS2,codice_regione_ISTAT,nome_area
0,2020-12-27,Pfizer/BioNTech,ABR,20-29,1,0,1,0,0,ITF,ITF1,13,Abruzzo

********************************************************************************
somministrazioni-vaccini-summary-latest.csv
(4043, 12)

,data_somministrazione,area,totale,sesso_maschile,sesso_femminile,prima_dose,seconda_dose,pregressa_infezione,codice_NUTS1,codice_NUTS2,codice_regione_ISTAT,nome_area
0,2021-03-08,VDA,485,233,252,237,245,3,ITC,ITC2,2,Valle d'Aosta / Vallée d'Aoste

********************************************************************************
vaccini-summary-latest.csv
(21, 9)

,area,dosi_somministrate,dosi_consegnate,percentuale_somministrazione,ultimo_aggiornamento,codice_NUTS1,codice_NUTS2,codice_regione_ISTAT,nome_area
0,ABR,1246966,1388669,89.8,2021-07-11,ITF,ITF1,13,Abruzzo

********************************************************************************
punti-somministrazione-latest.csv
(293, 8)

,area,provincia,comune,presidio_ospedaliero,codice_NUTS1,codice_NUTS2,codice_regione_ISTAT,nome_area
0,ABR,CHIETI,CHIETI,PRESIDIO OSPEDALIERO SS ANNUNZIATA,ITF,ITF1,13,Abruzzo

********************************************************************************
punti-somministrazione-tipologia.csv
(2741, 7)

,area,denominazione_struttura,tipologia,codice_NUTS1,codice_NUTS2,codice_regione_ISTAT,nome_area
0,ABR,AVEZZANO-SULMONA-L'AQUILA,Ospedaliero,ITF,ITF1,13,Abruzzo

********************************************************************************
consegne-vaccini-latest.csv
(3226, 8)

,area,fornitore,numero_dosi,data_consegna,codice_NUTS1,codice_NUTS2,codice_regione_ISTAT,nome_area
0,ABR,Pfizer/BioNTech,135,2020-12-27,ITF,ITF1,13,Abruzzo

********************************************************************************
platea.csv
(168, 4)

  area nome_area fascia_anagrafica  totale_popolazione
0  ABR   Abruzzo             12-19               94727

In [8]:
vacc_df = pd.read_csv(os.path.join(BASE_PATH, 'somministrazioni-vaccini-latest.csv'))
print(vacc_df.shape)
vacc_df.head()

(85570, 13)

,data_somministrazione,fornitore,area,fascia_anagrafica,sesso_maschile,sesso_femminile,prima_dose,seconda_dose,pregressa_infezione,codice_NUTS1,codice_NUTS2,codice_regione_ISTAT,nome_area
0,2020-12-27,Pfizer/BioNTech,ABR,20-29,1,0,1,0,0,ITF,ITF1,13,Abruzzo
1,2020-12-27,Pfizer/BioNTech,ABR,30-39,1,3,4,0,0,ITF,ITF1,13,Abruzzo
2,2020-12-27,Pfizer/BioNTech,ABR,40-49,1,6,7,0,0,ITF,ITF1,13,Abruzzo
3,2020-12-27,Pfizer/BioNTech,ABR,50-59,4,5,9,0,0,ITF,ITF1,13,Abruzzo
4,2020-12-27,Pfizer/BioNTech,ABR,60-69,10,4,14,0,0,ITF,ITF1,13,Abruzzo